@charset "UTF-8";

.formbox {
    --formbox-font-size: 16px;
    --formbox-radius: 0.25em;
    --formbox-shadow: none;
    --formbox-hr-color: #f5f5f5;
    --formbox-title-weight: 600;
    --formbox-title-size: .9em; 
    --formbox-title-color: inherit;
    --formbox-title-font: inherit;
    --formbox-field-border-color: #dbdbdb;
    --formbox-field-border-width: 1px;
    --formbox-field-background: transparent;
    --formbox-field-color: inherit;
    --formbox-field-border-hcolor: #dbdbdb;
    --form-field-height: 2.5em;
    --formbox-field-readonly-background: transparent;
    --formbox-field-readonly-color: inherit;
    --formbox-addon-color: inherit;
    --formbox-addon-background: #f5f5f5;
    --formbox-addon-weight: 400;
    --formbox-btn-calc-weight: 500;
    --formbox-btn-calc-color: #071927;
    --formbox-btn-calc-bg: #ffffff;
    --formbox-btn-calc-hcolor: #ffffff;
    --formbox-btn-calc-hbg: #071927;
    --formbox-btn-reset-color: #071927;
    --formbox-btn-reset-bg: #ffffff;
    --formbox-btn-reset-hcolor: #ffffff;
    --formbox-btn-reset-hbg: #071927;
    --formbox-title-result-color: inherit;
    --formbox-title-result-weight: 600;
    --formbox-field-border-result-color: #dbdbdb;
    --formbox-field-result-background: transparent;
    --formbox-result-addon-color: inherit;
    --formbox-result-addon-background: transparent
}

.formbox {
	margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.formbox__container .formbox__field-radio {
    float: left;
    margin-block-start: 0px;
    margin-left: 8px;
    padding-block-start: 8px;
}

.formbox__container .formbox__field-radio+.formbox__field-radio {
    margin-block-start: 0px;
}

.formbox__container .formbox__field-checkbox label, 
.formbox__container .formbox__field-radio label {
    flex: 1;
    font-size: .8em;
}

/* result block get this id*/
#is-hidden {
        display: none;
        visibility: hidden;
    width: 0;
    height: 0;
}

.is-hidden {
        display: none;
        visibility: hidden;
    width: 0;
    height: 0;
}

.formbox__btn button:not(:hover):not(:active).formbox__btn-calc {
    border-color: #071927;
}

.formbox__btn button:not(:hover):not(:active).formbox__btn-reset {
    border-color: #071927;
}

#rLabel {
    margin-left: 8px;
}

@media screen and (min-width: 776px) {
    .formbox__container {
        grid-template-columns:100%
    }
}

.rHeader {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    font-weight: 400;
    background-color: #ededed;
    padding-top: 0.2em;
    text-align: center;
}

.formbox__title {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.field-range-text option {
    font-size: .8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.formbox__container .formbox__field-checkbox label, .formbox__container .formbox__field-radio label {
    font-size: .8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.formbox__field.is-result {
    text-transform: none;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0;
    font-family: Inter,sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 720px) {
.formbox__htmlBlock-result {
    display: grid;
    align-items: flex-start;
    column-gap: 0.75em;
		grid-template-columns: 50% 50%;
}
}

@media screen and (max-width: 720px) {
.formbox__htmlBlock-result {
    display: grid;
    align-items: flex-start;
    column-gap: 0.75em;
		grid-template-columns: 100%;
}
}

.strikethrough {
  text-decoration: line-through;
}

.listBtn,
.plusButton,
.addButton {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	line-height: 1em;
    	padding: 2px;
	background-color: #ffffff;
   	 color: inherit;
   	 border: none;
}
.listBtn:hover {
	background-color:#408c99;
}
.listBtn:active {
	position:relative;
	top:1px;
}

input[type="text"] {
    min-height: 1em;
    padding: 0;
    padding-left: .4em;
    border-color: #ebeaea;
    width: 20em;
	border-radius: .4em;
	margin: 0.1em;
}

.add-list-item-input {
    display: flex;
padding-top: 0.8em;
}
