@charset "UTF-8";

.formbox {
    --formbox-font-size: 16px;
    --formbox-radius: 0.25em;
    --formbox-shadow: none;
    --formbox-hr-color: #f5f5f5;
    --formbox-title-weight: 600;
    --formbox-title-size: .9em; 
    --formbox-title-color: inherit;
    --formbox-title-font: inherit;
    --formbox-field-border-color: #dbdbdb;
    --formbox-field-border-width: 1px;
    --formbox-field-background: transparent;
    --formbox-field-color: inherit;
    --formbox-field-border-hcolor: #dbdbdb;
    --form-field-height: 2.5em;
    --formbox-field-readonly-background: transparent;
    --formbox-field-readonly-color: inherit;
    --formbox-addon-color: inherit;
    --formbox-addon-background: #f5f5f5;
    --formbox-addon-weight: 400;
    --formbox-btn-calc-weight: 500;
    --formbox-btn-calc-color: #071927;
    --formbox-btn-calc-bg: #7996b0;
    --formbox-btn-calc-hcolor: #7996b0;
    --formbox-btn-calc-hbg: #071927;
    --formbox-btn-reset-color: #071927;
    --formbox-btn-reset-bg: #7996b0;
    --formbox-btn-reset-hcolor: #7996b0;
    --formbox-btn-reset-hbg: #071927;
    --formbox-title-result-color: inherit;
    --formbox-title-result-weight: 600;
    --formbox-field-border-result-color: #dbdbdb;
    --formbox-field-result-background: transparent;
    --formbox-result-addon-color: inherit;
    --formbox-result-addon-background: transparent
}

.formbox__container .formbox__field-radio {
    float: left;
    margin-block-start: 0px;
    margin-left: 8px;
    padding-block-start: 8px;
}

.formbox__container .formbox__field-checkbox label, 
.formbox__container .formbox__field-radio label {
    flex: 1;
    font-size: .8em;
}
