.formbox__actions_btns,
.formbox__actions_btns * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1em;
  border: none;
  box-shadow: none;
}

.formbox__actions_btns {
  --ch-btn-size: 16px;
  --ch-btn-shadow: 0 0 1em -0.125em rgba(0, 0, 0, 0.1);
  --ch-btn-radius: 25px;
  --cb-btn-bg: #ffffff;
  --ch-btn-color: inherit;
  --ch-btn-border: none;
}

.formbox__actions_btns {
  display: flex;
  align-items: center;
  font-size: var(--ch-btn-size);
}

.formbox__actions {
  margin-inline-start: auto;
}

.formbox__actions,
.formbox__counters {
  display: flex;
  align-items: center;
  padding: 0.625em 0.875em;
  gap: calc(var(--ch-btn-size)/2);
  border-radius: var(--ch-btn-radius);
  box-shadow: var(--ch-btn-shadow);
  border: var(--ch-btn-border);
}

.formbox__action-btn {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  color: var(--ch-btn-color);
  line-height: 1;
}
.formbox__action-btn:disabled {
  opacity: 0.85;
}
.formbox__action-btn:hover, .formbox__action-btn:focus, .formbox__action-btn:active {
  background-color: transparent;
  color: var(--ch-btn-color);
  box-shadow: none;
}
.formbox__action-btn .cb__tooltip {
  visibility: hidden;
  width: max-content;
  display: block;
  background-color: #444444;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  font-size: 12px;
  left: 0;
}
.formbox__action-btn:hover .cb__tooltip {
  visibility: visible;
}

.formbox__footer-separate {
  opacity: 0.55;
}

.formbox__btn-mail {
  padding: 0.5em 1em;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  font-weight: normal;
  background-color: #ffffff;
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.calchub-wpcf7-activate .formbox {
  filter: blur(3px);
}

.formbox__container.formbox__wpcf7.has-result.is-hidden {
  display: none;
}

/* FormBox popup */
.formbox__popup {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 1rem;
}

.formbox__popup.is-active {
  display: flex;
  animation: fadein 0.8s ease-in alternate 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formbox__popup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formbox__popup-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.formbox__popup-content {
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.formbox__popup-form {
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

.formbox__popup-close {
  padding: 9px;
  border-radius: 4px;
  line-height: 1rem;
  text-transform: capitalize;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}
.formbox__popup-close:hover {
  box-shadow: none;
}

.formbox__popup-close:after,
.formbox__popup-close:before {
  content: "";
  height: 1px;
  width: 20px;
  background-color: black;
  position: absolute;
  top: 9px;
  left: 0;
  transition: transform 0.4s ease;
}

.formbox__popup-close:after {
  transform: rotate(45deg);
}

.formbox__popup-close:hover:after {
  transform: rotate(-45deg);
}

.formbox__popup-close:before {
  transform: rotate(-45deg);
}

.formbox__popup-close:hover:before {
  transform: rotate(45deg);
}

@media (max-width: 776px) {
  .formbox__popup {
    justify-content: end;
  }

  .formbox__popup-wrapper {
    margin-bottom: 75px;
  }

  .formbox__popup-form {
    flex-direction: column;
  }
}

